<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>

<main>
<div class="row">
	<div class="col-sm-12">
		<h1 class="centered" >This is your code!</h1>
  		<h2 class="centered">Put it on localhost:8081/mobile and see results!</h2>
  		    <h2 class="centered btn-success" style="font-size:3em; margin:10px 10px 10px 10px" th:text="${token}"></h2>
    		<h3 hidden="true" id="userId" th:text="${userId}"></h3>
	</div>

</div>
    		
            <div id="connectedInformation" style="display:block" class="col-sm-12">
            <h2>Gyroscope things!</h2>
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th class="valuesOfGiros">Alpha</th>
                    <th class="valuesOfGiros">Beta</th>
                    <th class="valuesOfGiros">Gamma</th>
                </tr>
                </thead>
                <tbody id="greetings">
                	<tr>
				        <td class="valuesOfGiros"><text id="alpha">0</text></td>
				        <td class="valuesOfGiros"><text id="betta">0</text></td>
				        <td class="valuesOfGiros"><text id="gamma">0</text></td>
			      	</tr>
                </tbody>
            </table>
        </div>
</main>

</body>
</html>