<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <script src="/NoSleep.min.js"></script>
</head>
<body>
	<div class="no-landscape" style="display:none;">
		<h1>Pon el móvil en horizontal</h1>
	</div>
	<div class="landscape">
		<img class="arrow arrow-up" alt="up" src="/arriba.png"/>
		<img class="arrow arrow-down"  alt="down" src="/abajo.png"/>
		<img class="arrow arrow-left" alt="left" src="/izquierda.png"/>
		<img class="arrow arrow-right" alt="right" src="/derecha.png"/>
		<div class="text-center-ex">
		
			<h2>Pon el móvil paralelo a la mesa</h2>
			<h4>Inclina el móvil en dirección que quieres que se mueva la pelota</h4>
			<button style="font-size:2rem; margin-botton:5px;" id="button-no-sleep">Manten la pantalla encendida</button>
		</div>
	</div>


</body>
</html>