<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>

<main>
<!--     <h1>Try It</h1> -->
<!--     <h2 th:text="${token}"></h2> -->
<!--     <h3 th:text="${userId}"></h3> -->

	<form class="form-inline">
	    <div class="form-group">
	        <label for="connect">WebSocket connection:</label>
	        <button id="connect" class="btn btn-default" type="submit">Connect</button>
	        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
	    </div>
	</form>
</main>

</body>
</html>